/zip/ZipArchive/Debug MFC MD DLL/**
/zip/ZipArchive/*.ncb
/zip/ZipArchive/*.suo
/RCF-2.0.0.2683/demo/vs2012/RCF/Debug/**
/RCF-2.0.0.2683/demo/vs2012/Debug/**
/apache-log4cxx-0.10.0/projects/Debug/**
/apache-log4cxx-0.10.0/projects/Release/**
/apache-log4cxx-0.10.0/projects/x64/**
/mpdecimal-2.3/*.obj
/mpdecimal-2.4.0/libmpdec/*.obj
/mpdecimal-2.4.0/libmpdec/*.o
/mpdecimal-2.4.0/mpdecimal
/mpdecimal-2.4.0/tests/**
/mpdecimal-2.4.0/vcbuild/dist64/**
/mpdecimal-2.4.0/build-release/**
/RCF-2.2.0.0/build_x64d/**
/RCF-2.2.0.0/build/**
/RCF-2.0.0.2685/demo/cmake/bin
/RCF-2.0.1.100/cmake/bin/**
/mpdecimal-2.3/bin/**
/Prof-UIS/Bin*/**
/Prof-UIS/**/*.old
/RCF-2.0.1.100/cmake/build/**
/mpdecimal-2.3/bin/**
/libjson-rpc-cpp/Project/Debug/**
/libjson-rpc-cpp/Project/x64/**
/libjson-rpc-cpp/project/.vs/**
/apr-1.5.2-unix/**/*.o
/apr-1.5.2-unix/**/*.lo
/apr-1.5.2-unix/.libs/**
/activemq-cpp-library-3.8.3/**/*.o
/activemq-cpp-library-3.8.3/**/*.lo
/activemq-cpp-library-3.8.3/**/*.Plo
/activemq-cpp-library-3.8.3/**/*.Po
/activemq-cpp-library-3.8.3/**/.dirstamp
/activemq-cpp-library-3.8.3/autom4te.cache/**
/activemq-cpp-library-3.8.3/src/examples/.libs/**
/activemq-cpp-library-3.8.3/src/main/.libs/**
/activemq-cpp-library-3.8.3/vs2008-build/**
/libjson-rpc-cpp/build_x64/**
/libjson-rpc-cpp/cmake/bin/**
/casajson/cmake/bin/**
/casajson/build/**
/casajson/test_package/build/**
/RCF-2.2.0.0/cmake/build/**
/RCF-2.2.0.0/cmake/bin/**
/RCF-2.2.0.0/cmake/.vs/**
/RCF-2.2.0.0/demo/vs2012/Client/**
/RCF-2.2.0.0/demo/vs2012/Debug/**
/RCF-2.2.0.0/demo/vs2012/RCF/Debug/**
/RCF-2.2.0.0/demo/vs2012/Server/Debug/**
/apr-1.5.1-win/build/**
/apr-1.5.1-win/installation/**
/apr-util-1.5.4-win/build_x64/**
/apr-util-1.5.4-win/installation/**
/apr-1.6.2-win/build_x64d/**
/apr-1.6.2-win/cmake_x86/**
/apr-1.6.2-win/installation/**
/cpprestsdk-master/Release/**
/restbed/build_x64/**
/url-cpp/build/**
/url-cpp/bin/**